.blog-page-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.blogs-container{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 45px;
    margin: 50px;
}

.right-side-containter{
    position: sticky;
}
